.hamburger {
    position:fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    border: #515153;
    background: #acacb0;
    cursor: pointer;
}
.closeIcon{
    display:none;
}
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right 0;
    bottom: 0;
    z-index: 99;
    background: #acacb0;
    color: #515153;
    list-style: none;
    padding-top: 4rem;
}
.showMenu {
    transform: translateY(0);
}