body{ 
    background: linear-gradient(to bottom,#bd9dd2,#ccccff);
    height: 100vh; /*makes sure to cover entire screen*/
    margin: 0; /*removes default margins*/
    display: flex;
    justify-content: center; /*this centers all text in body*/
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#515153;
    text-align: center;
    margin-top:50px;/*adds some space to top*/
    }
ul {
    list-style-position: inside;
    padding-left:0;
    }
.navbar {
    position: relative;
    padding: 10px 20px;
    color:#8b8b8b
}
.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color:#515153;
    cursor: pointer;
}
.nav-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    background: #8b8b8b;
    border-radius: 6px;
}
navi-menu li {
    border-bottom: 1px solid #515153;
}
.navi-menu li:last-child {
    border-bottom: none;
}
navi-menu a {
    display: block;
    padding: 10px;
    color:#515153;
    text-decoration: none;
}
.navi-menu a:hover {
    background:#8b8b8b;
}
.navi-menu.active {
    display: block;
}