body {
    margin:0;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height:100vh;
}
    h3 {
        display: -moz-inline-grid;
        margin-right: 20px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 20px;
    }
        .scrollbox {
            height: 800px;
            overflow: scroll;
            border: 1px solid #515153;
            padding: 10px;
            background: linear-gradient(to bottom,#bd9dd2,#ccccff);
            border-radius: 8px;
        }
            .box1 {
                width: 350px;
                background: linear-gradient(to bottom,#bd9dd2,#ccccff); 
        }
            .box2 {
                width: 100px;
                background: linear-gradient(to bottom,#bd9dd2,#ccccff); 
        }
            .box3 {
                width: 350px;
                background: linear-gradient(to bottom,#bd9dd2,#ccccff); 
        }   