body {
    margin:0;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
    .scroll-container{
        display:flex;
        gap: 20px;
        justify-content: center;
        align-items:center;
        position:relative;
    }
    .scroll-box {
        width: 200px;
        height: 200px;
        overflow-y: scroll;
        border: 1px solid #515153;
        padding: 10px;
        background: linear-gradient(to bottom,#bd9dd2,#ccccff);
    }
    .box1 {
        top:50px;
        left:100px;
        background: linear-gradient(to bottom,#bd9dd2,#ccccff); 
    }
    .box2 {
        top:50px;
        left:350px;
        background: linear-gradient(to bottom,#bd9dd2,#ccccff); 
    }
    .box3 {
        top:50px;
        left:600px;
        background: linear-gradient(to bottom,#bd9dd2,#ccccff); 
    }   